{% extends 'layout.html' %}
{% block contents %}  <!--Body Id-->
        <form action = "{{ url_for('deletepost') }}" method="DELETE" class="formstyle">
            <fieldset id="borderfield">
            <div  id="borderfrom">
               <table>
                  <tr><td>Post ID</td>
                  <td> <input type ="text" name = "id" placeholder="Post ID" /></td></tr>
                  <div id="bordersubmit">
                     <tr><td colspan="2"><span style="text-align:center;"> <input type = "submit" value = "Delete" /> </span></td></tr>
                  </div>
            </table>
            </div>
            </fieldset>
      </form>
{% endblock %}